.DrinksItem {
  position: relative;
  display: grid;
  place-items: center;
  padding: 44px 26px;
  border: 1px solid var(--border-light);
  border-radius: var(--border-radius-lg);
}

.DrinksItem__name {
  margin-bottom: 13px;
  font-size: var(--lg);
  font-weight: 600;
  color: var(--text-dark);
}

.DrinksItem__image {
  width: 30%;
}

.DrinksItem__image img {
  width: 100%;
  height: 100%;
}

.DrinksItem__price {
  margin-top: 13px;
  font-size: var(--md);
  font-weight: 600;
  color: var(--text-dark);
}

.DrinksItem__layout {
  position: absolute;
  bottom: -1px;
  width: 60px;
  height: 30px; 
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
  border-bottom: 1px solid var(--bg-app);
  border-left: 1px solid var(--border-light);
}

.DrinksItem button {
  position: absolute;
  bottom: -30px;
}

.DrinksItem__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.DrinksItem:hover {
  box-shadow: 0 0 3px 1px var(--border-light);
}

@media (min-width: 1020px) {
  .DrinksItem button {
    display: none;
  }

  .DrinksItem:hover button, .DrinksItem button:hover {
    display: block;
    z-index: 2;
    border: 1px solid var(--border-light);
  }
}