.Contact {
  width: 100%;
}

.Contact__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (min-width: 769px) {
  .Contact__information {
    flex-direction: row;
  }
}