.Home { }

.Home__container {
  display: grid;
  grid-template: repeat(2, auto) / 1fr;
  grid-gap: 26px;
}

.Observer {
  width: 100%;
  height: 1px;
}

@media (min-width: 1020px) {
  .Home__container {
    grid-template:  1fr / .25fr .75fr;
  }
}