/* Variables */
:root {
  --xl: 2.8rem;
  --lg: 1.6rem;
  --md: 1.4rem;
  --sm: 1.1rem;
  --bg-app: #fcfcfc;
  --white: #ffffff;
  --gray-light: #f1f0f0;
  --text-dark: #343434;
  --text-medium: #606060;
  --text-light: #ececec;
  --border-dark: #2e2e2e;
  --border-medium: #979797;
  --border-light: #d6d6d6;
  --app-color-dark: #ae304f;
  --app-color-medium: #af4a6c;
  --app-color-light: #d9adbb;
  --blue-social: #425a94;
  --border-radius-lg: 6px;
  --border-radius-md: 4px;
  --border-radius-sm: 2px;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--bg-app);
}

h1 {
  font-size: var(--xl);
  color: var(--text-dark);
}

h2 {
  font-size: var(--lg);
  color: var(--text-dark);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Global classes */
.container-width {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.container-padding {
  padding: 0 15px;
}

/* Global queries */
@media (min-width: 769px) {
  .container-padding {
    padding: 0 45px;
  }
}

@media (min-width: 1020px) {
  .container-padding {
    padding: 0 90px;
  }
}